
	body{
		background-image: url(../Media/111.jpg);
		background-repeat: repeat;
		font-family: monospace;
		font-style: oblique;
		color: #18121E;
	}
	
	ul{
		list-style:none;
		color: #18121E;
		font-size: 1em;
		font-weight: bold;		
	}
	
	a{		
		color: #18121E;	
		text-align: center;	
		text-decoration: none;
	}
	
	#navigation{
		background: linear-gradient(to top, aqua, blue);
		padding:1em 3em;
		border: 2px;
		margin: 2em 4em;
		width: auto;
		text-align: center;
		font-family: fantasy;
		font-style: normal;
		border-style: inset;
		border-color: gray;
	}	
	#navigation a:hover {
		color: #EAC67A;
	}
	
	#skills, #education, #workexperience, #activity{
		background: #EAC67A;	
		padding:1em 2em;
		border: 3px;
		border-style: inset;
		border-color: gray;
		margin: 2em 7em;
		width: auto;
	}
	#contactinfo{
		background: #EAC67A;	
		text-align: center;
		padding:1em 2em;
		border: 3px;
		border-style: ridge;
		border-color: gray;
		border-radius: 50px;
		margin: 10em 10em;
		width:auto;
		
	}
	
	h1{		
		font-size: 2em;
		text-align: center;	
		font-weight: bold;
		font-style: normal;
		color: #18121E;
	}	
	h2, h3, h4, h5{	
		font-size: 2em;
		text-align: center;		
		color: #18121E;
		
	}
	footer{
		font-weight: bold;
		font-size: 1em;
		text-align: center;
		font-style: normal;
	}

	* {box-sizing:border-box}
	.mySlides {display:none}

	.slideshow-container {
		max-width: 1000px;
		position: relative;
		margin: auto;
	
	}
	.slideshow-container img{
		width: 100%;
	}
	.circles{
		text-align: center;
	}

	/* Next & previous buttons */
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}


	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
	}


	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}


	.dot {
		cursor:pointer;
		height: 13px;
		width: 13px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
		background-color: #717171;
	}

	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}


	@media only screen and (max-width: 300px) {
		.prev, .next,.text {font-size: 11px}
	}

	
	
