	body{
		background-color: #233237;
		font-family: monospace;
		color: #984B43;
	}
	ul{
		list-style-type:circle;
		color: #984B43;
		font-size: 1em;
	}
	a{
		text-decoration: none;
		color: #984B43;	
		font-size: 1.2em;
		text-align: center;	
		font-weight: bold;
	}
	#navigation a:active{
		color: red;
	}
	
	#navigation, #Info{
		background: #F7CE3E;		
		padding:1em 3em 1em 3em;
		border-style: dotted;
		border-width: thick;
		margin-left: 4em;
		margin-right:4em;
		margin-top:2em;
		margin-bottom:2em;
	}
	
	
	#skills, #education, #workexperience, #activity{
		background: #EAC67A;		
		padding:1em 3em 1em 3em;
		border-style: inset;
		border-color: gray;
		margin-left: 4em;
		margin-right:4em;
	}	
	#doggie{	
		padding:1em 3em 1em 3em;
		font-size: 2em;
		text-align: center;	
		font-weight: bold;
		margin-left: 4em;
		margin-right:4em;
		margin-top:2em;
		margin-bottom:2em;
		
	}
	h1{		
		font-size: 2em;
		text-align: center;	
		font-weight: bold;
		color: #F7CE3E;
	}	
	h2, h3, h4, h5{		
		font-size: 2em;
		text-align: center;		
		color: #18121E;
	}
