
#main-navbar{
  background-color:  blue;
  text-align:center;
  width: 100%;
  position: relative;
  text-decoration: none;
}

#navbar-container{
  left: 50%;
  float: left;
  position: relative;
}

#navbar-container ul{
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  right: 50%;
}

#navbar-container ul li{
  float: left;
  padding: 10px, 15px;
}

#navbar-container a{
  color: #fff;
}
#navbar-container a:active{
  background-color: #000;
}
#onpage a{
 text-decoration: underline;
}

#sidebar{
  background-color: red;
  text-align: center;
  position: fixed;
  right: 0%;
}

#sidebar ul{
  padding: 0;
}

#sidebar ul li{
  padding: 20px 0;
}

#sidebar-container a{
  color: #fff;
}

#sidebar-container a: active{
  background-color: #000;
}
  
